PLAYLiST.xcodeproj/project.xcworkspace/contents.xcworkspacedata
PLAYLiST.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
PLAYLiST.xcodeproj/project.xcworkspace/xcuserdata/nyilaszsombor.xcuserdatad/UserInterfaceState.xcuserstate
PLAYLiST.xcodeproj/xcshareddata/xcschemes/PLAYLiST.xcscheme
PLAYLiST.xcodeproj/xcuserdata/nyilaszsombor.xcuserdatad/xcschemes/xcschememanagement.plist
PLAYLiST.xcworkspace/contents.xcworkspacedata
PLAYLiST.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
PLAYLiST.xcworkspace/xcuserdata/nyilaszsombor.xcuserdatad/UserInterfaceState.xcuserstate
